/************/

.forms{
    width: 60%;
}

.titolo{
    display: block;
    width: 30%;
}

#admin{
    position: relative;
    min-height: 100vh;
}

.page-link{
    cursor: pointer;
}

.card-header{
    background:linear-gradient(135deg, #5161ce 0%, #AFAAB9 100%);
}

thead{
    background-color: #35C081;
    color: white;
}

hr{
    width:80%;
    margin: auto;
}

.bott{
    background-color: #10A89B;
    color:white;
}

.bott:hover{
    background-color: #15E0CF;
    color:white;
}