/*STEP FORM*/

body {
    font-family: 'Roboto', sans-serif;
}
.step-wrapper {
    padding: 20px 0;
    display: none;
}
.step-wrapper.active {
    display: block;
}
.step-indicator {
    border-collapse: separate;
    display: table;
    margin-left: 0px;
    position: relative;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    padding-left: 0;
    padding-top: 20px;
}
.step-indicator li {
    display: table-cell;
    position: relative;
    float: none;
    padding: 0;
    width: 1%;
}
.step-indicator li:after {
    background-color: #ccc;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
    top: 32px;
}
.step-indicator li:after {
    left: 50%;
}
.step-indicator li:last-child:after {
    display: none;
}
.step-indicator li.active .step {
    border-color: #4183d7;
    color: #4183d7;
}
.step-indicator li.active .caption {
    color: #4183d7;
}
.step-indicator li.complete:after {
    background-color: #9ABCEA;
}
.step-indicator li.complete .step {
    border-color: #9ABCEA;
    color: #9ABCEA;
}
.step-indicator li.complete .caption {
    color: #9ABCEA;
}
.step-indicator .step {
    background-color: #fff;
    border-radius: 50%;
    color: #ccc;
    font-size: 30px;
    height: 64px;
    line-height: 64px;
    margin: 0 auto;
    position: relative;
    width: 75px;
    z-index: 1;
    text-align: center;
}
.step-indicator .step:hover {
    cursor: pointer;
}

.step-indicator .caption {
    color: #ccc;
    padding: 11px 16px;
}

.card{
    /*background:linear-gradient(135deg, #0FF0B3 0%,#036ED9 100%);*/
    background:linear-gradient(135deg, #6078ea 0%,#17ead9 100%);
    border-style: none;
}

.card-header{
    background:linear-gradient(135deg, #5161ce 0%,#17ead9 100%);
}

.modred{
    background:linear-gradient(135deg, #e01e37 0%,#ff944d 100%);
}

.modgreen{
    background:linear-gradient(135deg, #35C081 0%,#ffffff 100%);
}

/*calendarietto*/

.attiva{
    background-color: #FE2F20; /*ED6A5A  DE6B48*/
    font-size: larger;
}

.attiva:hover{
    cursor:pointer;
    background-color: #FE675D; /*ED6A5A  DE6B48*/
    font-size: larger;
}

.semi-attiva{
    cursor:pointer;
    background-color: #35C081; /*ED6A5A  */
    font-size: larger;
}

.semi-attiva:hover{
    cursor:pointer;
    background-color: #8FE0BC; /*ED6A5A  */
    font-size: larger;
}

.non-attiva{
    cursor:default;
    background-color: #E6F1E4;
}

.celle-scure{
    background-color: #5161ce;
    color: white;
    width: 16.66%;
}

.table{
    border-color: #060723;
    border-width: medium !important;
    table-layout: fixed;
}

#back{
    background-color: #5161ce;
    color: white;
}

hr{
    margin: auto;
    size:5px;
    width:80%;
    color:white;
}

p{
    cursor:pointer;
}

#pr{
    position: relative;
    min-height: 100vh;
}

#pren{
    position: relative;
    min-height: 100vh;
}