/************/
.table-editable{
    font-size:24px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.card{
    height: auto;
}
#id_docente1{
    margin-top: 1%;
}
.pt-3-half{
    font-size:24px;
    color: #0d0d0d;
}
#inserisci{
    font-size:24px;
    color: #0d0d0d;
    font-family: 'Roboto', sans-serif;
}
#inserisci2{
    font-size:24px;
    color: #0d0d0d;
    font-family: 'Roboto', sans-serif;
}
#inserisci3{
    font-size:24px;
    color: #0d0d0d;
    font-family: 'Roboto', sans-serif;
}
#inserisci4{
    font-size:24px;
    color: #0d0d0d;
    font-family: 'Roboto', sans-serif;
}
#add{
    margin-top: 1%;
    margin-bottom: 1%;
}
#add2{
    margin-top: 1%;
    margin-bottom: 1%;
}
#add3{
    margin-top: 1%;
    margin-bottom: 1%;
}
#listacorsi{
    text-align: center;
    position: center;
    alignment: center;
    width:50%;
}
remove{
    color: red;
    text-align: right;
}
label{
    width: 30%;
}
textarea {
    width: 30%;
}

.form-control{
    width:100%;
    text-align: center;
    alignment: center;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
h1,h2,h3{
    text-align: center;
}
.titolo{
    text-align:center;
    display: block;
    width: 30%;
}

#admin{
    position: relative;
    min-height: 100vh;
}

.page-link{
    cursor: pointer;
}