<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" href="CSS/stylesheet.css"/>
    <script type="text/javascript" src="navbar.js"></script>
</head>
<body>
<div id="admin">
    <nav class="navbar navbar-expand-lg navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>I miei corsi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="far fa-address-book"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Logout</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
            </li>-->
        </ul>
    </div>
</nav>
            <!-- corso-->
    <div class="container">
        <div class="center">
            <h1>Corsi</h1>
            <div class="modal-footer">
                <label  for="titolo">Inserisci il corso:</label>
                <input type="titolo" class="form-control"  v-model="corsi.titolo" id="titolo">
            </div>
                <div class="box-1">
                    <div class="btn btn-one"  @click="rimuoviCorso">
                         <span >ELIMINA</span>
                    </div>
                </div>
                <div class="box-3">
                    <div class="btn btn-three"   @click="InserisciCorso">
                        <span >AGGIUNGI</span>
                    </div>
                </div>
          <!--  </div>-->
                <section>
                    <ul class="lista-group">
                        <template v-for="corso in corsi">
                            <li class="list-group-item list-group-item-action">{{ corso.titolo }}</li>
                        </template>
                    </ul>
                </section>

            <!-- docenti-->
        <h2>Docenti</h2>
            <div class="modal-footer">
                <label for="nome">Inserisci il nome:</label>
                <input type="nome" class="form-control"  v-model="docenti.nome" id="nome">
            </div>
            <div class="modal-footer">
                <label for="cognome">Inserisci il cognome:</label>
                <input type="cognome" class="form-control"  v-model="docenti.cognome" id="cognome">
            </div>
                <div class="box-1">
                    <div class="btn btn-one" @click="rimuoviDocenti(nome, cognome)">
                        <span>ELIMINA</span>
                    </div>
                </div>
                <div class="box-3">
                    <div class="btn btn-three"  @click="InserisciDocenti">
                        <span>AGGIUNGI</span>
                    </div>
                </div>

                <section>
                    <ul class="lista-group">
                        <template v-for="doc in docenti">
                            <li class="list-group-item list-group-item-action">{{ doc.nome}} {{doc.cognome }}</li>
                        </template>
                    </ul>
                </section>

        <!--insegnamenti -->
                <h2>Insegnamenti</h2>
            <div class="modal-footer">
                <label for="id_corso">corso:</label>
                <input type="id_corso" class="form-control"  v-model="insegnamenti.id_corso" id="id_corso">
            </div>
            <div class="modal-footer">
                <label for="id_docente">docente:</label>
                <input type="id_docente" class="form-control"  v-model="insegnamenti.id_docente" id="id_docente">
            </div>
                <div class="box-1">
                    <div class="btn btn-one" @click="rimuoviInsegnamenti">
                        <span>ELIMINA</span>
                    </div>
                </div>
                <div class="box-3">
                    <div class="btn btn-three"  @click="InserisciInsegnamenti">
                        <span>AGGIUNGI</span>
                    </div>
                </div>

                <section>
                    <ul class="lista-group">
                        <template v-for="insegn in insegnamenti">
                            <li class="list-group-item list-group-item-action">{{ insegn.id_corso}} {{insegn.id_docente }}</li>
                        </template>
                    </ul>
                </section>

    </div>
    </div>
</div>
<script>
    var admin = new Vue ({
        el: '#admin',
        data: {
            logged: false,
            ripetizioni: [],
            corsi:[],
            docenti:[],
            insegnamenti:[],
            link: '/TWEBIUM/AdminServlet',
            link2: '/TWEBIUM/LoginServlet'
        },
        mounted() {
            this.init();
        },
        methods: {
            init: function(){
                var self=this;
                $.get(this.link, {
                    action: 'INIT'
                },function(data){
                    self.ripetizioni=data[0];
                    self.corsi = data[1];
                    self.docenti = data[2];
                    self.insegnamenti = data[3];
                })
            },
            /*aggiungi corso*/
            InserisciCorso: function () {
                var self = this;
                if (self.corsi.titolo !== "") {
                    $.post(this.link, {
                            action: 'NEWCORSO',
                            titolo: this.corsi.titolo
                        },
                        function (data) {
                            self.corsi = data[3]
                            window.location.reload();
                        });
                } else {
                    self.err = "nome gia presente nel db"
                }
            },
            /*aggiungi docenti*/
            InserisciDocenti: function () {
                var self = this;
                if (self.docenti.nome !== "" && self.docenti.cognome !== "") {
                    $.post(this.link, {
                            action: 'NEWDOCENTE',
                            nome: this.docenti.nome,
                            cognome: this.docenti.cognome
                        },
                        function (data) {
                            self.docenti = data[6]
                            window.location.reload();
                        })
                }else {
                    self.err = "nome gia presente nel db"
                }

            },
            /*aggiungi insegnamenti*/
            InserisciInsegnamenti: function () {
                var self = this;
                $.post(this.link, {
                        action: 'NEWINSEGNAMENTI',
                        id_corso: this.insegnamenti.id_corso,
                        id_docente: this.insegnamenti.id_docente,
                    },
                    function (data) {
                        self.insegnamenti = data[7]
                        if (self.insegnamenti.id_corso !== "" && self.insegnamenti.id_docente !== "") {
                            self.insegnamenti = data[7]
                            window.location.reload();
                        } else {
                            self.err = "nome gia presente nel db"
                        }
                    })
            },

          rimuoviCorso: function () {
                var self = this;
                if (self.corsi.titolo !== "") {
                    $.post(this.link, {
                            action: 'DELETECORSO',
                            titolo: this.corsi.titolo
                        },
                        function (data) {
                            //data = JSON.parse(data);
                            if (data == "true") {
                                self.corsi=data[1]
                                window.location.reload(); /*aggiorno la pagina*/
                          } else {
                                self.err = "errore"
                            }
                        });
                }else{
                    self.err= "non é stato inserito nessun corso"
                }
            },
         rimuoviDocenti: function () {
                var self = this;
                if (self.docenti.nome !== "" && self.docenti.cognome !== "") {
                    $.post(this.link, {
                            action: 'DELETEDOCENTE',
                            nome: this.docenti.nome,
                            cognome: this.docenti.cognome
                        },
                        function (data) {
                            if (data == "true") {
                                alert("rimosso")
                                window.location.reload(); /*aggiorno la pagina*/
                           } else {
                                self.err = "errore"
                            }
                        });
                }else{
                    self.err="non é stato inserito alcun docente"
                }


            },
            rimuoviInsegnamenti: function () {
                var self = this;
                $.post(this.link, {action: 'DELETEINSEGNAMENTI',
                        id_corso : this.insegnamenti.id_corso,
                        id_docente:this.insegnamenti.id_docente},
                    function (data) {
                        if (data == "true") {
                            alert("rimosso")
                            window.location.reload(); /*aggiorno la pagina*/
                       } else {
                            self.err = "errore"
                        }
                    });


            },
            logout:function(){
                $.post(this.link2,{
                        action: 'LOGOUT'
                    }
                );
                this.logged=false;
                window.location.reload();
            }
        }
    });
</script>
</body>
</html>
