<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns: xmlns: xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" href="CSS/stylesheetAdmin.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/navbar.css"/>
    <script type="text/javascript" src="JS/navbar.js"></script>
    <script type="text/javascript" src="JS/footer.js"></script>
</head>
    <div id="admin">
        <div class="content-wrap">

            <nav class="navbar navbar-expand-lg navbar-mainbg">
                <div class="container">
                    <a class="navbar-brand navbar-logo" href="index.html"><img src="img/graduate.png" id="graduate" alt="Logo"/></a>
                    <!--<a class="navbar-brand navbar-logo" href="#">LOGO</a>-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                            <li class="nav-item active">
                                <a class="nav-link" href="javascript:void(0);">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="prenotazioni.html">I miei corsi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="prenota.html">Prenota</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" v-on:click="logout" href="javascript:void(0);">Logout</a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </nav>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-5">
                    <li v-for="page in pages" class="page-item" :class="page.classObject"><p class="page-link" v-on:click="cambiaPag(page.id)">{{page.name}}</p></li> <!--:class="page.classObject"-->
                </ul>
            </nav>

            <!--Corsi-->
                <div class="row justify-content-center align-self-center m-5" v-show="currentPage == 1">
                    <div class="card text-center" style="width: 60rem;">
                        <div class="card-header info-color white-text text-center py-4" ><strong>Corsi</strong></div>
                        <div class="card-body text-info">

                            <!--form-->
                            <form class="text-center" style="color: #757575;" id="usrform" action="#!">
                                <div class="md-form mb-2">
                                    <label id="inserisci" for="titolo">Inserisci il corso:</label>
                                    <input type="text" class="form-control float-center" placeholder="Titolo"  v-model="corsi.titolo" id="titolo">
                                </div>
                            </form>
                            <div class="md-form">
                                <textarea rows="4" cols="50" name="comment" form="usrform" class="form-control float-center" placeholder="Descrizione corso"  v-model="corsi.descrizione" id="descrizione"></textarea>
                            </div>
                            <button @click="InserisciCorso" id="add" class="btn btn-info " type="submit">Aggiungi</button>

                            <!--table corsi -->
                            <div  class="table-editable">
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                    <tr>
                                        <td><strong>Titolo</strong></td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody v-for="corso in corsi">
                                    <tr >
                                        <td  onmouseover="style.color='white'" onmouseout="style.color='black'" class="pt-3-half" contenteditable="true">{{corso.titolo}}
                                        </td>
                                        <td>
                                             <span class="table-remove"><button type="button" v-on:click="rimuoviCorso(corso.titolo)"
                                                                                class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- docenti-->
                <div class="row justify-content-center align-self-center m-5 " v-show="currentPage == 2">
                    <div class="card text-center" style="width: 60rem;">
                        <div class="card-header info-color white-text text-center py-4"><strong>Docenti</strong></div>
                        <div class="card-body text-info">
                            <!--form-->
                            <form class="text-center" style="color: #757575;" action="#!">
                                <div class="md-form mb-2">
                                    <label for="nome" id="inserisci2">Inserisci Docente:</label>
                                    <input type="text" class="form-control float-center" placeholder="Nome"  v-model="docenti.nome" id="nome">
                                </div>
                                <div class="md-form">
                                    <input type="text" class="form-control float-center" placeholder="Cognome"  v-model="docenti.cognome" id="cognome">
                                </div>
                                <button @click="InserisciDocenti" id="add2" class="btn btn-info" type="submit">Aggiungi</button>
                            </form>
                            <!--table docenti-->
                            <div  class="table-editable">
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                    <tr>
                                        <td><strong>Professore</strong></td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody v-for="doc in docenti">
                                    <tr>
                                        <td class="pt-3-half" onmouseover="style.color='white'" onmouseout="style.color='black'" contenteditable="true">{{doc.nome}} </td>
                                        <td>
                                            <span class="table-remove"><button type="button" v-on:click="rimuoviDocenti(doc.nome,doc.cognome, doc.id_docente)"
                                                                               class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            <!--insegnamenti-->
                <div class="row justify-content-center align-self-center m-5" v-show="currentPage == 3">
                    <div class="card text-center" style="width: 60rem;">
                        <div class="card-header info-color white-text text-center py-4"><strong>Insegnamenti</strong></div>
                        <div class="card-body text-info">
                            <!--form-->
                            <form class="text-center" style="color: #757575;" action="#!">
                                <div class="md-form">
                                    <label for="titolo" id="inserisci3">Corso:</label>
                                    <input type="text" class="form-control float-center" placeholder="Corso"  v-model="insegnamenti.titolo" id="titolo2">
                                </div>
                                <div class="md-form">
                                    <label for="id_docente" id="inserisci4">Docente:</label>
                                    <input type="text" class="form-control float-center" placeholder="Docenti" v-model="insegnamenti.id_docente" id="id_docente">
                                </div>
                                <button @click="InserisciInsegnamenti" id="add3" class="btn btn-info" type="submit">Aggiungi</button>
                            </form>
                            <!-- table insegnamenti-->
                            <div  class="table-editable">
                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                    <thead>
                                    <tr>
                                        <td><strong>Titolo corso</strong></td>
                                        <td><strong>Nome docente</strong></td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody v-for="insegn in insegnamenti">
                                    <tr>
                                        <td class="pt-3-half" onmouseover="style.color='white'" onmouseout="style.color='black'" contenteditable="true">{{ insegn.titolo}}</td>
                                        <td class="pt-3-half" onmouseover="style.color='white'" onmouseout="style.color='black'" contenteditable="true"> {{insegn.id_docente }}</td>
                                        <td>
                                         <span class="table-remove"><button type="button" v-on:click="rimuoviInsegnamenti(insegn.titolo, insegn.id_docente)"
                                                                            class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                                         </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>

            <div class="row justify-content-center align-self-center m-5" v-show="currentPage == 4">
                <div class="card text-center" style="width: 60rem;">
                    <div class="card-header info-color white-text text-center py-4"><strong>Tutte le ripetizioni</strong></div>
                    <div class="card-body text-info">
                        <!-- table insegnamenti-->
                        <div class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                    <tr>
                                        <td><strong>Docente</strong></td>
                                        <td><strong>Giorno</strong></td>
                                        <td><strong>Ora</strong></td>
                                        <td><strong>Corso</strong></td>
                                        <td><strong>Stato</strong></td>
                                        <td><strong>Username</strong></td>
                                    </tr>
                                </thead>
                                <tbody v-for="rip in ripetizioni">
                                    <tr>
                                        <td class="pt-3-half">{{rip.id_docente}}</td>
                                        <td class="pt-3-half">{{rip.giorno}}</td>
                                        <td class="pt-3-half">{{rip.ora_i}}</td>
                                        <td class="pt-3-half">{{rip.id_corso}}</td>
                                        <td class="pt-3-half">{{rip.stato}}</td>
                                        <td class="pt-3-half" v-if="rip.stato!='disponibile'">{{rip.username}}</td>
                                        <td class="pt-3-half" v-else></td>
                                        <!--<td>
                                             <span class="table-remove"><button type="button" v-on:click="rimuoviInsegnamenti(insegn.titolo, insegn.id_docente)"
                                                                                class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                                             </span>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <my-footer></my-footer>
    </div>


    <script>
        var admin = new Vue ({
            el: '#admin',
            data: {
                ripetizioni: [],
                corsi:[],
                docenti:[],
                insegnamenti:[],
                currentPage: 1,

                link: '/TWEBIUM/AdminServlet',
                link2: '/TWEBIUM/LoginServlet',

                pages:[
                    {
                        id: 1,
                        name:"Corsi",
                        classObject:{
                            active:true,
                        }
                    },
                    {
                        id: 2,
                        name:"Docenti",
                        classObject:{
                            active:false
                        }
                    },
                    {
                        id: 3,
                        name:"Insegnamenti",
                        classObject:{
                            active:false
                        }
                    },
                    {
                        id: 4,
                        name:"Ripetizioni",
                        classObject:{
                            active:false
                        }
                    }
                ]
            },
            mounted() {
                this.init();
            },
            methods: {
                init: function(){
                    var self=this;
                    $.get(this.link, {
                        action: 'INIT'
                    },function(data){
                        self.ripetizioni=data[0];
                        self.corsi = data[1];
                        self.docenti = data[2];
                        self.insegnamenti = data[3];

                    })
                },
                /*aggiungi corso*/
                InserisciCorso: function () {
                    var self = this;
                    if (self.corsi.titolo !== "" && self.corsi.descrizione !== "") {
                        $.post(this.link, {
                                action: 'NEWCORSO',
                                titolo: this.corsi.titolo,
                                desc: this.corsi.descrizione
                            },
                            function (data) {
                                if(data===true)
                                    window.location.reload();
                                else
                                    alert("operazione non riuscita");
                            });
                    } else {
                        self.err = "I campi titolo e descrizione non possono essere vuoti."
                    }
                },
                /*aggiungi docenti*/
                InserisciDocenti: function () {
                    var self = this;
                    if (self.docenti.nome !== "" && self.docenti.cognome !== "") {
                        $.post(this.link, {
                                action: 'NEWDOCENTE',
                                nome: this.docenti.nome,
                                cognome: this.docenti.cognome
                            },
                            function (data) {
                                if(data===true)
                                    window.location.reload();
                                else
                                    alert("operazione non riuscita");
                            })
                    }else{
                        alert("I campi nome e cognome non possono essere vuoti.")
                    }

                },
                /*aggiungi insegnamenti*/
                InserisciInsegnamenti: function () {
                    var self = this;
                    if (self.insegnamenti.titolo !== "" && self.insegnamenti.id_docente !== "") {
                        $.post(this.link, {
                                action: 'NEWINSEGNAMENTI',
                                titolo: this.insegnamenti.titolo,
                                id_docente: this.insegnamenti.id_docente,
                            },
                            function (data) {
                                if(data===true)
                                    window.location.reload();
                                else
                                    alert("operazione non riuscita");
                            });
                    }
                    else {
                        alert("I campi professore e corso non possono essere vuoti")
                    }
                },

                rimuoviCorso: function (titolo) {
                    var self = this;
                    //titolo = document.getElementById('titolo').innerHTML;
                    $.post(this.link, {
                            action: 'DELETECORSO',
                            titolo: titolo
                        },
                        function(data) {
                            if(data===true)
                                window.location.reload();
                            else
                                alert("operazione non riuscita");
                        });
                },
                rimuoviDocenti: function (nome,cognome, id_docente) {
                    var self = this;
                    $.post(this.link, {
                            action: 'DELETEDOCENTE',
                            nome: nome,
                            cognome: cognome,
                            id_docente: id_docente
                        },
                        function (data) {
                            data = JSON.parse(data);
                            if(data===true)
                                window.location.reload();
                            else
                                alert("operazione non riuscita");
                        });


                },
                rimuoviInsegnamenti: function (titolo, id_docente) {
                    var self = this;
                    $.post(this.link, {action: 'DELETEINSEGNAMENTI',
                            titolo: titolo,
                            id_docente: id_docente},
                        function (data) {
                            if(data===true)
                                window.location.reload();
                            else
                                alert("operazione non riuscita");
                        });


                },
                logout:function(){
                    $.post(this.link2,{
                            action: 'LOGOUT'
                        }
                    );
                    this.logged=false;
                    window.location = "index.html";
                },
                cambiaPag: function (pag) {
                    var self = this;
                    self.changeClass(pag)
                    self.currentPage= pag;
                },
                changeClass:function(pag){//flag = true allora ti sposti in avanti, all'indietro altrimenti
                    var self = this;
                    self.pages[this.currentPage-1].classObject = {active: false};
                    self.pages[pag-1].classObject = {active: true};
                }
            }
        });
    </script>
    </body>
</html>