<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns: xmlns: xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" href="CSS/stylesheet.css"/>
    <script type="text/javascript" src="navbar.js"></script>
</head>
    <div id="admin">
        <nav class="navbar navbar-expand-lg navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>I miei corsi</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="far fa-address-book"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Logout</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
                    </li>-->
                </ul>
            </div>
        </nav>
        <div class="card">
            <!--card-->
            <div class="row justify-content-center align-self-center">
                <div class="card border-info mb-3" class="card text-center" style="width: 60rem;">
                    <div class="card-header info-color white-text text-center py-4"><strong>Corsi</strong></div>
                    <div class="card-body text-info">
                        <!--form-->
                        <form class="text-center" style="color: #757575;" action="#!">
                            <div class="md-form">
                                <label  for="titolo">Inserisci il corso:</label>
                                <input type="text" class="form-control" placeholder="Titolo"  v-model="corsi.titolo" id="titolo">
                            </div>
                            <button @click="InserisciCorso" id="add" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Aggiungi</button>
                        </form>
                        <!--table corsi -->
                        <div  class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <tbody v-for="corso in corsi">
                                <tr >
                                    <td onmouseover="style.color='blue'" onmouseout="style.color='black'" class="pt-3-half" contenteditable="true">{{corso.titolo}}
                                    </td>
                                    <td>
                                         <span class="table-remove"><button type="button" v-on:click="rimuoviCorso(corso.titolo)"
                                                                            class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- corso rimuovi
        <div class="panel-body" v-for="corso in corsi">
            {{corso.titolo}}
        <button type="button" @click="rimuoviCorso" class="close" data-dismiss="alert"><span>&times;</span></button>
        </div>-->



        <!-- docenti-->
        <div class="card">
            <!--card-->
            <div class="row justify-content-center align-self-center">
                <div class="card border-info mb-3" class="card text-center" style="width: 60rem;">
                    <div class="card-header info-color white-text text-center py-4"><strong>Docenti</strong></div>
                    <div class="card-body text-info">
                        <!--form-->
                        <form class="text-center" style="color: #757575;" action="#!">
                            <div class="md-form">
                                <label for="nome">Inserisci il nome:</label>
                                <input type="text" class="form-control" placeholder="Nome"  v-model="docenti.nome" id="nome">
                            </div>
                            <div class="md-form">
                                <label for="cognome">Inserisci il cognome:</label>
                                <input type="text" class="form-control" placeholder="Cognome"  v-model="docenti.cognome" id="cognome">
                            </div>
                            <button @click="InserisciDocenti" id="add2" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Aggiungi</button>
                        </form>
                        <!--table docenti-->
                        <div  class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <tbody v-for="doc in docenti">
                                <tr>
                                    <td class="pt-3-half" onmouseover="style.color='blue'" onmouseout="style.color='black'" contenteditable="true">{{ doc.nome}} {{doc.cognome }}</td>
                                    <td>
                                        <span class="table-remove"><button type="button" v-on:click="rimuoviDocenti(doc.nome,doc.cognome)"
                                                                           class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--docenti rimuovi
        <div class="box-1">
            <div class="btn btn-one" @click="rimuoviDocenti(nome, cognome)">
                <span>ELIMINA</span>
            </div>
        </div>-->
        <!--insegnamenti-->
        <div class="card">
            <!--card-->
            <div class="row justify-content-center align-self-center">
                <div class="card border-info mb-3" class="card text-center" style="width: 60rem;">
                    <div class="card-header info-color white-text text-center py-4"><strong>Insegnamenti</strong></div>
                    <div class="card-body text-info">
                        <!--form-->
                        <form class="text-center" style="color: #757575;" action="#!">
                            <div class="md-form">
                                <label for="id_corso">corso:</label>
                                <input type="text" class="form-control" placeholder="Corso"  v-model="insegnamenti.id_corso" id="id_corso">
                            </div>
                            <div class="md-form">
                                <label for="id_docente">docente:</label>
                                <input type="text" class="form-control" placeholder="Docenti" v-model="insegnamenti.id_docente" id="id_docente">
                            </div>
                            <button @click="InserisciInsegnamenti" id="add3" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Aggiungi</button>
                        </form>
                        <!-- table insegnamenti-->
                        <div  class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <tbody v-for="insegn in insegnamenti">
                                <tr>
                                    <td class="pt-3-half" onmouseover="style.color='blue'" onmouseout="style.color='black'" contenteditable="true">{{ insegn.id_corso}} {{insegn.id_docente }}</td>
                                    <td>
                                     <span class="table-remove"><button type="button" v-on:click="rimuoviInsegnamenti(insegn-id_corso, insegn.id_docente)"
                                                                        class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                                     </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- rimuovi insegnamenti
         <div class="box-1">
             <div class="btn btn-one" @click="rimuoviInsegnamenti">
                 <span>ELIMINA</span>
             </div>
         </div>
   -->


    <script>
        var admin = new Vue ({
            el: '#admin',
            data: {
                logged: false,
                ripetizioni: [],
                corsi:[],
                docenti:[],
                insegnamenti:[],
                link: '/TWEBIUM/AdminServlet',
                link2: '/TWEBIUM/LoginServlet'
            },
            mounted() {
                this.init();
            },
            methods: {
                init: function(){
                    var self=this;
                    $.get(this.link, {
                        action: 'INIT'
                    },function(data){
                        self.ripetizioni=data[0];
                        self.corsi = data[1];
                        self.docenti = data[2];
                        self.insegnamenti = data[3];
                    })
                },
                /*aggiungi corso*/
                InserisciCorso: function () {
                    var self = this;
                    if (self.corsi.titolo !== "") {
                        $.post(this.link, {
                                action: 'NEWCORSO',
                                titolo: this.corsi.titolo
                            },
                            function (data) {
                                self.corsi = data[3]
                                window.location.reload();
                            });
                    } else {
                        self.err = "nome gia presente nel db"
                    }
                },
                /*aggiungi docenti*/
                InserisciDocenti: function () {
                    var self = this;
                    if (self.docenti.nome !== "" && self.docenti.cognome !== "") {
                        $.post(this.link, {
                                action: 'NEWDOCENTE',
                                nome: this.docenti.nome,
                                cognome: this.docenti.cognome
                            },
                            function (data) {
                                self.docenti = data[6]
                                window.location.reload();
                            })
                    }else {
                        self.err = "nome gia presente nel db"
                    }

                },
                /*aggiungi insegnamenti*/
                InserisciInsegnamenti: function () {
                    var self = this;
                    $.post(this.link, {
                            action: 'NEWINSEGNAMENTI',
                            id_corso: this.insegnamenti.id_corso,
                            id_docente: this.insegnamenti.id_docente,
                        },
                        function (data) {
                            self.insegnamenti = data[7]
                            if (self.insegnamenti.id_corso !== "" && self.insegnamenti.id_docente !== "") {
                                self.insegnamenti = data[7]
                                window.location.reload();
                            } else {
                                self.err = "nome gia presente nel db"
                            }
                        })
                },

                rimuoviCorso: function () {
                    var self = this;
                    titolo = document.getElementById('titolo').innerHTML;
                    $.post(this.link, {
                            action: 'DELETECORSO',
                            titolo: self.corsi.titolo
                        },
                        function(data) {
                            data = JSON.parse(data);
                            if(data === true) {
                                window.location.reload();
                            }else{
                                alert("errore")
                            }
                        });
                },
                rimuoviDocenti: function () {
                    var self = this;
                    nome=document.getElementById('nome').innerHTML;
                    cognome=document.getElementById('cognome').innerHTML;
                    $.post(this.link, {
                            action: 'DELETEDOCENTE',
                            nome: this.docenti.nome,
                            cognome: this.docenti.cognome
                        },
                        function (data) {
                            if (data == "true") {
                                alert("rimosso")
                                window.location.reload(); /*aggiorno la pagina*/
                            } else {
                                self.err = "errore"
                            }
                        });


                },
                rimuoviInsegnamenti: function () {
                    var self = this;
                    id_corso=document.getElementById('id_corso');
                    id_docente=document.getElementById('id_docente');
                    $.post(this.link, {action: 'DELETEINSEGNAMENTI',
                            id_corso : this.insegnamenti.id_corso,
                            id_docente:this.insegnamenti.id_docente},
                        function (data) {
                            if (data == "true") {
                                alert("rimosso")
                                window.location.reload(); /*aggiorno la pagina*/
                            } else {
                                self.err = "errore"
                            }
                        });


                },
                logout:function(){
                    $.post(this.link2,{
                            action: 'LOGOUT'
                        }
                    );
                    this.logged=false;
                    window.location.reload();
                }

            }
        });
    </script>
    </body>
</html>