<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>corsi</title>
</head>
<div id="corsi" class="col s12 center">
    <header>
        <nav>
            <a class="nav-link" href="index.html">Home</a>
            <link rel="import" href="index.html">
        </nav>
    </header>
            <!-- corso-->
    <article>

               <h1>Corsi</h1>
                <section >
                <table class="table">
                <thead class="table table-bordered" >
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Titolo corso</th>
                    </tr>
                </thead>
                    <tr v-for="(c,i) in corsi">
                       <th scope="row">{{incrementIndex(i)}}</th>
                        <td>{{c.titolo}}</td>
                        <td>  <button v-on:click="rimuoviCorso(c.titolo)" value="Delete" type="button">Elimina</button></td>
                    </tr>
                    </table>
                </section>
    </article>

                <div class="modal-footer">
                    <input type="titolo" class="form-control"  v-model="corsi.titolo" id="titolo">
                    <label for="titolo">Titolo</label>
                    <button @click="InserisciCorso" type="button">Inserisci corso</button>
                </div>



            <!-- docenti-->
                <h2>Docenti</h2>
                <section>
                <table class="table table-bordered">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cognome</th>
                    </tr>
                <tr v-for="(doc,i) in docenti">
                    <th scope="row">{{incrementIndex(i)}}</th>
                        <td>{{doc.nome}}</td>
                        <td>{{doc.cognome}}</td>
                        <td>  <button v-on:click="rimuoviDocenti(doc.nome, doc.cognome)" value="Delete" type="button">Elimina</button></td>

                </tr>
                </table>
                </section>

                <div class="modal-footer">
                     <input type="nome" class="form-control"  v-model="docenti.nome" id="nome">
                     <label for="nome">Nome</label>
                     <input type="cognome" class="form-control"  v-model="docenti.cognome" id="cognome">
                     <label for="cognome">Cognome</label>
                     <button @click="InserisciDocenti" type="button">Inserisci docenti</button>
                </div>

    <!--  insegnamenti
                <h2>Insegnamenti</h2>
                <section>
                <table class="table table-bordered">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">id_corso</th>
                        <th scope="col">id_docente</th>
                    </tr>
                    <tr v-for="(insegn,i) in insegnamenti">
                        <th scope="row">{{incrementIndex(i)}}</th>
                        <td>{{insegn.id_corso}}</td>
                        <td>{{insegn.id_docente}}</td>
                        <td>  <button v-on:click="rimuoviInsegnamenti(insegn.id_corso, insegn.id_docente)" value="Delete" type="button">Elimina</button></td>
                    </tr>
                </table>
                </section>

                <div class="modal-footer">
                    <input type="id_corso" class="form-control"  v-model="insegnamenti.id_corso" id="id_corso">
                    <label for="id_corso">id corso</label>
                    <input type="id_docente" class="form-control"  v-model="insegnamenti.id_docente" id="id_docente">
                    <label for="id_docente">id docente</label>
                    <button @click="InserisciInsegnamenti" type="button">Inserisci insegnamenti</button>
                </div>
-->
</div>
<script src="corso.js"></script>
</body>
</html>