<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>corsi</title>
</head>
<div id="corsi" class="col s12 center">
    <header>
        <nav>
            <a class="nav-link" href="index.html">Home</a>
            <link rel="import" href="index.html">
        </nav>
    </header>
    <article>
               <h1>Admin</h1>
                <section>
                    <table class="table">
                <th class="table table-bordered" >
                    <tr>
                        <th scope="col">ID corso</th>
                        <th scope="col">Titolo corso</th>
                    </tr>
                    <tr v-for="(c,i) in corsi">
                       <th scope="row">{{incrementIndex(i)}}</th>
                        <td>{{c.id_corso}}</td>
                        <td>{{c.titolo}}</td>
                    </tr>

                </th>
                </table>
                </section>
    </article>
        <!--aggiungi corso-->

                <div class="modal-footer">
                    <input v-model="titoloAggiunto" id="titoloAggiunto">
                    <label for="titoloAggiunto">Titolo</label>
                    <button @click="InserisciCorso" type="button">Inserisci corso</button>
                </div>

        <!--elimina corso
                <div id="EliminaCorso" class="modal">
                    <div v-for="corso in corsi">
                        <a v-on:click="dataModalEliminaCorso(corso.nomeCompleto,corso.nomeCorso)"
                           class="collection-item pointer modal-trigger" href="#modalEliminaCorso">
                            {{c.titolo}} <i class="material-icons right">delete</i>
                        </a>
                    </div>
                     <div id="modalEliminaCorso">
                        <h3 style="align-content: center">Scegli il corso da rimuovere<a id="titolo" class="black-text"></a> </h3>
                        <button v-on:click="rimuoviCorso" type="button">Rimuovi Corso</button>
                     </div>
                </div>
                -->
        <!--modifica
                <li>
                    <button v-on:click="modificaCorso"  type="button">Modifica Corso</button>
                    <h3 style="align-content: center">Scegli il corso da moficare </h3>
                    <label for="formGroupExampleInput2">Nuovo titolo del corso</label>
                    <input v-model="nuovoTitolo" type="text" class="form-control" id="formGroupExampleInput2"
                           placeholder="Inserisci il nuovo nome del corso">

                 </li>
           -->
    </div>
    <!-- aggiungi docenti
<section>
<table class="table table-bordered">
    <tr>
        <th scope="col"></th>
        <th scope="col">Id_docente</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
    </tr>
    <tr v-for="(doc,i) in docenti">
        <th scope="row">{{incrementIndex(i)}}</th>
        <td>{{doc.id_docente}}</td>
        <td>{{doc.nome}}</td>
        <td>{{doc.cognome}}</td>

    </tr>
</table>
</section>
-->
    <!-- elimina docenti-->
    <!-- modifica docenti -->
    <!-- aggiungi insegnamenti-->
    <!-- elimina insegnamenti -->
    <!-- modifica insegnamenti -->


<script src="corso.js"></script>
</body>
</html>