<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="CSS/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/navbar.css"/>
    <script type="text/javascript" src="JS/navbar.js"></script>
    <script type="text/javascript" src="JS/footer.js"></script>

    <title>Homepage</title>
</head>
<body>
<div id="app" class="full-height">
    <div class="content-wrap">
    <!--barra di navigazione-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-mainbg">
            <div class="container">
                <a class="navbar-brand navbar-logo" href="javascript:void(0);"><img src="img/graduate.png" id="graduate" alt="Logo"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                        <li class="nav-item" v-if="logged">
                            <a class="nav-link" href="admin.html" v-if="utente.isAdmin==1">Admin</a>
                        </li>
                        <li class="nav-item" v-if="logged">
                            <a class="nav-link" href="prenotazioni.html">I miei corsi</a>
                        </li>
                        <li class="nav-item" v-if="logged">
                            <a class="nav-link" href="prenota.html">Prenota</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="javascript:void(0);">Home</a>
                        </li>
                        <li class="nav-item" v-if="logged">
                            <a class="nav-link" v-on:click="logout" href="javascript:void(0);">Logout</a>
                        </li>
                        <li class="nav-item" v-if="!logged">
                            <a class="nav-link" href="login.html">Accedi</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="diagonale">
        <div class="container text-center">
            <p v-if="logged" class="display-4 mt-5 ben"><u>Bentornato {{utente.username}}!</u></p>
            <p v-else class="display-4 mt-5 ben"><u>Benvenuto su StudiaOnline!</u></p>
        </div>

        <div class="container py-3">
            <div class="jumbotron text-white text-center jumbotron-image shadow">
                <h2>- 1# sito di corsi di recupero in Italia -</h2>
                <div class="row">
                    <div class="col-1"></div>
                    <h4 class="mb-4 p-3 col-10 border border-secondary rounded">
                        Qui potrai prenotare ripetizioni individuali per varie materie, per le quali si ha la
                        possibilità di scegliere tra più professori, tutti con almeno quattro anni di esperienza di istruzione online.
                        Cosa aspetti,<br> <strong id="gratis"><u>LA PRIMA SETTIMANA E' GRATIS!</u></strong>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <a href="login.html" class="btn btn-primary btn-lg col-6">Comincia ora!</a>
                </div>
            </div>
        </div>

        <hr class="mb-5">

        <blockquote class="blockquote text-center">
            <h4 class="mb-0">Our greatest weakness lies in <strong>givin up</strong>. The most certain way to succeed is always to <strong>try just one more time</strong>.</h4>
            <footer class="blockquote-footer"><cite title="Source Title">THOMAS A. EDISON</cite></footer>
        </blockquote>

        <hr class="m-15">


        <div class="container">
            <h2 class="header center m-5" id="Corsi">Corsi disponibili al momento</h2>
            <div class="row justify-content-around">
                <div class="card text-justify text-white col-5 mb-5" v-for="corso in corsi">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <h4 class="card-header"><strong><u>{{corso.titolo}}</u></strong></h4>
                    <div class="card-body">
                        <p class="card-text">{{corso.descrizione}}</p>
                        <a href="javascript:void(0);" class="btn btn-light text-primary stretched-link float-right">VEDI CORSO</a>
                    </div>
                </div>
            </div>
        </div>
        <hr><!--clearfix w-100 d-md-none-->
        </div>
    </div>
    <my-footer></my-footer>
</div>
<script>
    var app = new Vue ({
        el: '#app',
        data: {
            logged: false,
            corsi: [],
            utente: {
                username: '',
                password: '',
                isAdmin: ''
            },
            link: '/TWEBIUM/LoginServlet',
            link2: '/TWEBIUM/HomeServlet',
            err: null
        },
        mounted(){
            this.init();
        },
        methods: {
            init:function(){
                var self = this;
                $.post(this.link2, {action:'INIT'}, function(data) {
                    data = JSON.parse(data);

                    if(data[0]===true){//sessione attiva login effettuato
                        self.utente = data[1];
                        self.corsi = data[2];
                        //self.ripetizioni = data[2];
                        self.logged =true;
                    }
                    else{
                        //self.ripetizioni = data[0];
                        self.corsi = data[0];
                        self.logged=false;
                    }
                });
            },
            logout:function(){
                $.post(this.link,{
                        action: 'LOGOUT'
                    }
                );
                this.logged=false;
                window.location.reload();
            }
        }
    });
</script>

</body>
</html>
