<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="CSS/stylesheet.css"/>
    <script type="text/javascript" src="navbar.js"></script>
    <title>Homepage</title>
</head>
<body>
<div id="app">
    <!--barra di navigazione-->
    <header>

        <nav class="navbar navbar-expand-lg navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item" v-if="logged">
                        <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>I miei corsi</a>
                    </li>
                    <li class="nav-item" v-if="logged">
                        <a class="nav-link" href="admin.html" v-if="utente.isAdmin==1"><i class="far fa-calendar-alt"></i>Admin</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Home</a>
                    </li>
                    <li class="nav-item" v-if="logged">
                        <a class="nav-link" v-on:click="logout" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Logout</a>
                    </li>
                    <li class="nav-item" v-if="!logged">
                        <a class="nav-link" href="login.html"><i class="far fa-clone"></i>Accedi</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
                    </li>-->
                </ul>
            </div>
        </nav>




    </header>

    <article class="container">
        <!-- tabella Ripetizioni-->

        <h1 v-if="logged">Benvenuto {{utente.username}}!</h1>
        <h1 v-else>Benvenuto!</h1>
        <section>
            <p>nome: {{utente.username}}, password: {{utente.password}}, admin: {{utente.isAdmin}}</p>
            <table class="table table-bordered">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Corso</th>
                    <th scope="col">Docente</th>
                    <th scope="col">Ripetizione</th>
                    <th scope="col">Stato</th>
                </tr>
                <tr v-for="rip in ripetizioni" :id="rip.id_corso">
                    <th scope="col"></th>
                    <td>{{rip.id_corso}}</td>
                    <td>{{rip.id_rip}}</td>
                    <td>{{rip.id_docente}}</td>
                    <td>{{rip.stato}}</td>
                </tr>
            </table>
        </section>

    </article>
</div>
<script>
    var app = new Vue ({
        el: '#app',
        data: {
            logged: false,
            sessione: '',
            ripetizioni: [],
            corsi: [],
            docenti: [],
            utente: {
                username: '',
                password: '',
                isAdmin: ''
            },
            link: '/TWEBIUM/LoginServlet',
            link2: '/TWEBIUM/HomeServlet',
            err: null,
            loading: false
        },
        mounted(){
            this.init();
        },
        methods: {
            init:function(){
                var self = this;
                $.post(this.link2, {action:'INIT'}, function(data) {
                    data = JSON.parse(data);

                    if(data[0]===true){//sessione attiva login effettuato
                        self.utente = data[1];
                        //self.corsi = data[2];
                        self.ripetizioni = data[2];
                        self.logged =true;
                    }
                    else{
                        self.ripetizioni = data[0];
                        self.logged=false;
                        self.loading = true;
                    }
                });
            },
            logout:function(){
                $.post(this.link,{
                        action: 'LOGOUT'
                    }
                );
                this.logged=false;
                window.location.reload();
            }
        }
    });
</script>

</body>
</html>
