<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>Prenotazioni</title>
</head>
<body>
    <div id="pr">
        <h1>Prenotazioni</h1>
       <!-- <p v-for="rip in ripetizioni">{{rip.stato}}</p>-->

        <div class="container">
            <!-- tabella Ripetizioni-->
            <div  class="table-editable">
                <p>nome: {{utente.username}}, password: {{utente.password}}, admin: {{utente.isAdmin}}</p>
                <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Ripetizione</th>
                        <th scope="col">Stato</th>
                        <th scope="col">Giorno</th>
                        <th scope="col">Ora_i</th>
                        <th scope="col">Ora_f</th>
                         <th scope="col">Corso</th>
                         <th scope="col">Docente</th>
                         <th scope="col">Username</th>
                     </tr>
                    </thead>
                    <tbody v-for="rip in ripetizioni">
                    <tr>
                        <td>{{rip.stato}}</td>
                        <td>{{rip.Giorno}}</td>
                        <td>{{rip.Ora_i}}</td>
                        <td>{{rip.Ora_f}}</td>
                        <td>{{rip.id_corso}}</td>
                        <td>{{rip.id_docente}}</td>
                        <td>{{rip.username}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-content">
                <div class="form-group">
                    <label for="id_rip"> Identificativo ripetizione: </label>
                    <input class="form-control" placeholder="Ripetizioni" v-model="ripetizioni" id="id_rip"><!--tutto da cambiare-->
                </div>

                <div id="cambiaStato" class="modal-footer">
                    <button v-on:click="modificaRip('svolta')" class="modal-close waves-effect waves-green btn-flat">Svolta</button>
                    <button v-on:click="modificaRip('disdetta')" class="modal-close waves-effect waves-orange btn-flat">Disdici</button>
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Annulla</a>
                </div>

            </div>

        </div>

    </div>
    <my_footer></my_footer>

<script>
    var pr = new Vue ({
        el: '#pr',
        data: {
            logged: false,
            sessione:'',
            ripetizioni: [],
            utente: {
                username: '',
                password: '',
                isAdmin: ''
            },
            link: '/TWEBIUM/PrenotazioniServlet',
            link2: '/TWEBIUM/LoginServlet',
        },
        mounted(){
            this.init();
        },
        methods: {
            init:function(){
                var self = this;
                $.post(this.link, {action:'INIT'}, function(data) {
                    data = JSON.parse(data);
                    if(data[0]===true){//sessione attiva login effettuato
                        self.utente = data[1];
                        self.ripetizioni = data[2];
                        self.logged =true;
                    }
                    else{
                        self.logged=false;
                        window.location = "index.html";
                    }
                });
            },

            /*statoDisponibile:function(){
                var self = this;
                $.post(this.link, {action:'DISPONIBILE'}, function(data) {
                    data = JSON.parse(data);
                    if(data[0]===true){//sessione attiva login effettuato
                        self.utente = data[1];
                        self.ripDisponibile = data[3];
                        self.logged =true;
                    }
                    else{
                        self.logged=false;
                        window.location = "index.html";
                    }
                });
            },

            modificaRip : function(stato){
                var self = this;
                this.id_rip =document.getElementById('id_rip').innerHTML;
                $.post(this.link, {id_rip: this.id_rip, action: "CAMBIASTATO", stato: stato},
                    function (data) {
                            data = JSON.parse(data);
                            self.ripetizioni = data[2];
                            window.location = "prenotazioni.html";
                    });
            },*/

            logout:function(){
                $.post(this.link2,{
                        action: 'LOGOUT'
                    }
                );
                this.logged=false;
                window.location = "index.html";
            }
        }
    });
</script>
</body>
</html>