*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size:30px;
    color:white;
}
h2{
    font-size:30px;
    color:white;
}
.input-group{
    margin-top: 10px;
    margin-bottom: 20px;
}
.input-group-addon{
    background: transparent;
    border-radious: 0px;
    border: 0px;
    border-bottom: 1px solid gray;
    font-size:18px;
    color: gray;
}
.form-control{
    background: transparent;
    border-radious: 0px;
    border: 0px;
    border-bottom: 1px solid gray;
    padding:16px;
    color:white;
    font-size:21px;
}
.text-center{
    margin-bottom: 5px;
}